---
import Title from "@atoms/Hero/Title.astro"
import Items from "@molecules/Hero/Items.astro"
---

<section class="col-start-1 w-full self-center justify-self-center">
	<Title />
	<Items />
</section>
