---
import Header from "@components/organisms/Header.astro"
import Hero from "@components/organisms/Hero.astro"
import Query from "@components/organisms/Query.astro"
import Services from "@components/organisms/Services.astro"
import Layout from "@layouts/Layout.astro"

import "../global.css"
---

<Layout title="MediaCo Landing page">
	<main>
		<Header />
		<Hero />
		<Query />
		<Services />
	</main>
</Layout>
