<div class="text-primary flex items-center justify-between gap-4">
	<p>We're available</p>
	<div
		class="bg-cricket relative z-10 size-3 rounded-full after:absolute after:inset-0 after:-z-10 after:scale-125 after:transform after:animate-ping after:rounded-full after:bg-green-400/70"
	>
	</div>
	<p>11:12 am</p>
</div>
