---
import DiscountCard from "@components/atoms/Query/DiscountCard.astro"
---

<figure class="flex justify-end gap-2">
	<DiscountCard>
		<p class="text-3xl font-bold text-primary 2xl:text-8xl">$0</p>
		<p class="text-pretty text-center text-sm font-semibold text-primary 2xl:text-xl">
			No Call <span class="block">Out Fees*</span>
		</p>
	</DiscountCard>

	<img
		src="/assets/phone-hand.webp"
		alt="Request a fast quote today"
		class="mr-12 h-fit w-60 2xl:w-96"
	/>
</figure>
