---
import Title from "@atoms/Query/Title.astro"
import PromotionPhone from "@components/molecules/Query/PromotionPhone.astro"
import QueryBox from "@components/molecules/Query/QueryBox.astro"
---

<section class="relative flex h-[65dvh] justify-center bg-wall">
	<article class="padding grid grid-cols-2 justify-center gap-x-64">
		<Title />
		<PromotionPhone />
		<QueryBox />
	</article>
</section>
