<div class="w-full space-y-12 pt-20">
	<h2 class="text-3xl font-bold text-owl 2xl:text-8xl">
		<span class="inline-block">Request a <span class="text-lake">fast</span></span>
		<span class="inline-block">quote today</span>
	</h2>
	<p class="text-sm 2xl:text-xl">
		We are industry leaders providing quality plumbing, drainage, hot water, and roofing-related
		services to our Community of Customers. We’re ready to assist you with all your needs. From
		routine maintenance to emergency repairs and quality installations, we have you covered.
	</p>
</div>
