<h1 class="text-7xl font-black uppercase text-primary 2xl:text-8xl">
	your local
	<span
		class="bg-light-ocean/70 flex w-fit bg-opacity-80 py-1 pl-1 pr-16 [clip-path:polygon(0_0,_100%_0,_95%_100%,_0%_100%)]"
		>hot water</span
	>
	experts
</h1>
